@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
/* Point this to your config file path */
@config "../../tailwind.config.ts";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(97.566% 0.00181 249.234);
  --foreground: oklch(23.787% 0.00892 255.651);
  --card: oklch(100% 0.00011 271.152);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(50.814% 0.10493 165.642);
  --primary-foreground: oklch(100% 0.00011 271.152);
  --secondary: oklch(90.487% 0.037 168.465);
  --secondary-foreground: oklch(0.696 0.17 162.48);
  --glow-green-bg: oklch(95.046% 0.05071 163.166 / 0.298);
  --glow-purple-bg: oklch(95.046% 0.05071 263.166 / 0.298);
  --glw-blue-bg: oklch(95.046% 0.05071 203.166 / 0.298);
  --muted: oklch(92.758% 0.00592 264.656);
  --muted-foreground: oklch(55.102% 0.02343 264.389);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  /* destructive (mirrors secondary/secondary-foreground but in red hue) */
  --destructive: oklch(90.487% 0.037 27.325);
  --destructive-foreground: oklch(0.696 0.17 27.325);
  --border: oklch(87.168% 0.00944 258.479);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.845 0.143 164.978);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.596 0.145 163.225);
  --chart-4: oklch(0.508 0.118 165.612);
  --chart-5: oklch(0.432 0.095 166.913);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.596 0.145 163.225);
  --sidebar-primary-foreground: oklch(0.979 0.021 166.113);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* fonts and spacings */
  --font-eczar: "Eczar", serif;
}

.dark {
  --background: oklch(15.993% 0.00531 173.779);
  --foreground: oklch(92.758% 0.00592 264.656);
  --card: #101214;
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(59.598% 0.12741 163.254);
  --primary-foreground: oklab(26.21% -0.04834 0.00629);
  --secondary: oklch(25.909% 0.04123 163.104);
  --secondary-foreground: oklch(0.696 0.17 162.48);
  --glow-green-bg: oklch(23.397% 0.02779 162.934 / 0.749);
  --glow-purple-bg: oklch(23.397% 0.02779 262.934 / 0.749);
  --glw-blue-bg: oklch(23.505% 0.02811 203.332);
  --muted: oklch(25.376% 0.0096 248.279);
  --muted-foreground: oklch(71.366% 0.01926 261.373);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  /* destructive (mirrors secondary/secondary-foreground but in red hue) */
  --destructive: oklch(20.644% 0.04268 28.334);
  --destructive-foreground: oklch(0.696 0.17 27.325);
  --border: oklch(26.209% 0.00952 248.267);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.845 0.143 164.978);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.596 0.145 163.225);
  --chart-4: oklch(0.508 0.118 165.612);
  --chart-5: oklch(0.432 0.095 166.913);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.696 0.17 162.48);
  --sidebar-primary-foreground: oklch(0.262 0.051 172.552);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-eczar: var(--font-eczar);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-glow-green-bg: var(--glow-green-bg);
  --color-glow-purple-bg: var(--glow-purple-bg);
  --color-glow-blue-bg: var(--glw-blue-bg);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth font-eczar;
  }
  button {
    @apply cursor-pointer;
  }
}
